body{
  color: #FF8A50;
  
  background-image:none;
  background-color: #424242;
  font-family: 'Domine', serif;
  }
header{
  color: #FF8A50;
  background-image: url("https://mhtf19.github.io/assets/images/banner.jpg");
  background-color: #424242;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Libre Baskerville', serif;
}


.nav-content{
  display:block;
  background-color: #334E68;
  color: #FF8A50;
}

