body{
  color: red;
  background-image:none;
  background-color:green;
  }
header{
  background-color:black;
  background-image:none;
  color:red;
}
h1{
  color:red;
}

.nav-content{
  display:block;
}

